<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://pm.v2.webservice.projectmanagergui.xmlintl.com/">
  <SOAP-ENV:Body>
    <ns1:{{ action }}>
      <loginAPI>
        <client>{{ translator.getSetting('xtm_api_client_name') }}</client>
        <integrationKey>{{ integration_key }}</integrationKey>
        <password>{{ translator.getSetting('xtm_api_password') }}</password>
        <userId>{{ translator.getSetting('xtm_api_user_id') }}</userId>
      </loginAPI>
      <project>
        <customer>
          <id>{{ input.project.customer.id }}</id>
        </customer>
        <name>{{ input.project.name|e }}</name>
        <sourceLanguage>{{ input.project.sourceLanguage }}</sourceLanguage>
        {% for targetLanguage in input.project.targetLanguages %}
          <targetLanguages>{{ targetLanguage }}</targetLanguages>
        {% endfor %}
        <referenceId>{{ input.project.referenceId }}</referenceId>
        <projectCallback>
          <jobFinishedCallback>{{ input.project.projectCallback.jobFinishedCallback|e }}</jobFinishedCallback>
        </projectCallback>
        {% for file in input.project.translationFiles %}
          <translationFiles>
            <fileName>{{ file.fileName }}</fileName>
            <fileMTOM>
              <xop:Include href="cid:{{ file.fileName }}" xmlns:xop="http://www.w3.org/2004/08/xop/include"/>
            </fileMTOM>
            {% if file.targetLanguages is iterable and file.targetLanguages|length > 0 %}
              {% for fileTargetLanguage in file.targetLanguages %}
                <targetLanguages>{{ fileTargetLanguage }}</targetLanguages>
              {% endfor %}
            {% endif %}
          </translationFiles>
        {% endfor %}
        {% if input.project.template %}
            <template>
              <id>{{ input.project.template.id }}</id>
            </template>
        {% endif %}
      </project>
      <options>
        {% for key, option in input.options %}
          <{{ key }}>{{ option }}</{{ key }}>
        {% endfor %}
      </options>
    </ns1:{{ action }}>
  </SOAP-ENV:Body>
</SOAP-ENV:Envelope>
